command_template: |
  torchrun \
    --nproc_per_node {num_gpus} \
    --master_port $MASTER_PORT \
    --master_addr $MASTER_ADDR \
    mlenergy/diffusion/benchmark.py \
    workload:text-to-video \
    --workload.model_id {model_id} \
    --workload.base_dir run/diffusion/text-to-video/{model_id} \
    --workload.batch_size {batch_size} \
    --workload.ulysses_degree {ulysses_degree} \
    --workload.ring_degree {ring_degree}
    --workload.inference_steps None \
    --workload.num_frames None

sweep_defaults:
  - batch_size: [1, 2, 4, 8, 16]
    ulysses_degree: [1]
    ring_degree: [1]
  - batch_size: [1, 2, 4, 8, 16]
    ulysses_degree: [1]
    ring_degree: [2]
  - batch_size: [1, 2, 4, 8, 16]
    ulysses_degree: [2]
    ring_degree: [1]
  - batch_size: [1, 2, 4, 8, 16]
    ulysses_degree: [1]
    ring_degree: [4]
  - batch_size: [1, 2, 4, 8, 16]
    ulysses_degree: [2]
    ring_degree: [2]
  - batch_size: [1, 2, 4, 8, 16]
    ulysses_degree: [4]
    ring_degree: [1]
  - batch_size: [1, 2, 4, 8, 16]
    ulysses_degree: [1]
    ring_degree: [8]
  - batch_size: [1, 2, 4, 8, 16]
    ulysses_degree: [2]
    ring_degree: [4]
  - batch_size: [1, 2, 4, 8, 16]
    ulysses_degree: [4]
    ring_degree: [2]
  - batch_size: [1, 2, 4, 8, 16]
    ulysses_degree: [8]
    ring_degree: [1]
