command_template: |
  torchrun --nproc_per_node {num_gpus} mlenergy/diffusion/benchmark.py \
    workload:text-to-image \
    --workload.model_id {model_id} \
    --workload.base_dir run/diffusion/text-to-image/{model_id} \
    --workload.batch_size {batch_size} \
    --workload.ulysses_degree {ulysses_degree} \
    --workload.ring_degree {ring_degree}

sweep_defaults:
  - batch_size: [1, 2, 4, 8, 16]

gpu_selection:
  # mapping batch_size -> (num_gpus, default degrees)
  - where:
      batch_size: 1
    num_gpus: 1
    set:
      ulysses_degree: 1
      ring_degree: 1
  - where:
      batch_size: 2
    num_gpus: 2
    set:
      ulysses_degree: 2
      ring_degree: 1
  - where:
      batch_size: 4
    num_gpus: 8
    set:
      ulysses_degree: 4
      ring_degree: 2
  - where:
      batch_size: 8
    num_gpus: 8
    set:
      ulysses_degree: 4
      ring_degree: 2
  - where:
      batch_size: 16
    num_gpus: 8
    set:
      ulysses_degree: 8
      ring_degree: 1

