command_template: |
  python -m mlenergy.llm.benchmark \
    --container-runtime {container_runtime} \
    --server-image {server_image} \
    --max-output-tokens {max_output_tokens} \
    workload:sourcegraph-fim \
    --workload.base-dir {run_dir}/llm \
    --workload.model-id {model_id} \
    --workload.num-requests {num_requests} \
    --workload.num-request-repeats {num_request_repeats} \
    --workload.gpu-model {gpu_model} \
    --workload.num-gpus {num_gpus} \
    --workload.max-num-seqs {max_num_seqs}

workload_defaults:
  max_output_tokens: 2048
  run_dir: run
  num_requests: 1024

sweep_defaults:
  - num_request_repeats: [1]
    max_num_seqs: [8, 16, 32, 64, 96, 128, 192, 256, 384, 512]
